:root {
  font: 16px / 1 sans-serif;
}

a,
a:visited {
  color: #e0dfd5;
}

a:hover {
  color: #f09d51;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Staatliches', cursive;
  background-color: #e0dfd5;
  color: #e0dfd5;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

h1 {
  font-size: 3rem;
  margin: 0.5rem;
}

h2 {
  display: flex;
  align-self: flex-start;
  margin-top: 1.75rem;
}

p {
  font-size: 1rem;
  padding: 1rem;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

section .showCover {
  height: 400px;
}

div {
  display: flex;
  width: auto;
  align-content: center;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}

.randomShowCover,
.ShowPoster,
.CastImage {
  height: 450px;
  border-radius: 5px;
  margin-right: 1rem;
  box-shadow: -12px 15px 19px 1px rgba(0, 0, 0, 0.75);
}

.randomShow,
.ShowInfo {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0px 0px 38px 4px rgba(0, 0, 0, 0.75);
  margin-bottom: 5rem;
  padding-bottom: 3rem;
}

.randomShowName,
.showTitle {
  font-size: 2.5rem;
  justify-content: center;
  display: flex;
}

.showCover {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: -12px 15px 19px 1px rgba(0, 0, 0, 0.75);
}

.title {
  font-size: 2rem;
}

.rating,
.AirDate {
  font-size: 1.25rem;
  color: #f06543;
}

.overview,
.ShowOverview {
  font-size: 1.25rem;
}

.lower {
  font-size: 2rem;
}

img {
  height: 400px;
}

.link {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.CharacterInfo {
  font-size: 2rem;
}
